* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/* header section start */
Section Start */ header {
    width: 100%;
    height: 100px;
    background: #131E3A;
}

.page {
    width: 100%;
    height: 100px;
    margin: auto;
    color: #fff;
    display: flex;
    padding: 0px 0px;
    background: #131E3A;
    align-items: center;
    justify-content: space-between;
}

.page ul {
    margin-inline: auto;
}

.page ul li {
    display: inline-flex;
    align-items: center;
    padding-bottom: 15px;
    margin: 0px 20px;
}

.page ul li a.active {
    color: #ff4f7b;
}

a {
    color: #fff;
    text-decoration: none;
}
/* header section End */

/* Banner Section Start */
.banner{
    width: 100%;
    height: 900px;
    background: url(../img/banner.jpg);
    background-size: 100% 100%;
    position: relative;
}
/* Banner Section End */
.heading{
    width: 70%;
    height: auto;
    color:black;
    margin: auto;
    
}

h1{
    font-size: 80px;
    font-weight: 200;
    font-family:'Franklin Gothic Book';
    padding-top: 18%;
    
}
h2{
    font-size: 40px;
    font-weight: 600;
}
.form{
    width: 100%;
    height: auto;
    background: #5F307C;
    margin-top: 13%;
}
/* Switch button Start */
.switchbutton ul li{
    list-style: none;
    display: inline-block;
}
.switchbutton button{
    background: #4D3371;
    height:auto;
    width:100%;
    padding:15px 40px;
   
}
.switchbutton i{
    color: #fff;
    }

/* Switch button Start */

.userinput ul li{
    list-style: none;
    display: inline-block;
}
.userinput ul li input{
height: 100%;
width:120px;
padding: 8px 1px;
margin-left: 10px;
margin-top: 10px;
}
.userinput ul li select{
height: 100%;
width:120px;
padding: 8px 10px;
margin-left: 10px;
margin-top: 10px;
}
main{
    width: 85%;
    float: left;
    height: auto;
    background: #5F307C;
}
aside{
    width: 15%;
    float: right;
    height: auto;
    background: #5F307C;
}
aside button{
    height: 100px;
    width: 100px;
    margin: 25px;
    background:#ff4f7b;
    border-radius: 50%;
    border: 0px;
}
.checkbox ul li{
    list-style: none;
    display: inline-block;
    color: #fff;
    background: none;
    margin: 10px 5px;
}
.checkbox ul li select{
    background: none;
    color: #fff;
    border: none;
    margin: 10px 10px;
}
.checkbox ul li select option{
    color: #000;
}
/* fun section start */
.fun {
    width: 100%;
    height: 488px;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/fun_background.jpg);
    background-size: 100% 100%;
    ;
}

.fun h2 {
    text-align: center;
    padding: 70px 70px;
    font-size: 30px;
    font-weight: 400;
    color: #fff;
}

.fun ul {
    display: flex;
    justify-content: space-between;
    margin-left: 15%;
    margin-right: 15%;
}

.fun ul li {
    height: 10vw;
    width: 10vw;
    background: #fff;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    list-style: none;
    color: #fff;
}

.fun ul li i {
    color: #ffffff;
    font-size: 500%;
    padding: 10%;
}
/* fun section end */

/* newsletter start */
.newsletter {
    width: 100%;
    height: 300px;
    background: linear-gradient(rgba(120, 104, 158, 0.6), rgba(120, 104, 158, 0.6)), url(../img/cut_aroplane.jpg);
    background-size: 100% 200%;
    position: relative;
}
.newsletter ul{
    display: flex;
}
.newsletter ul li{
    list-style: none;
    width: 50%;
    text-align: center;
    margin-top: 4%;
    color: #fff;
}
.newsletter ul li input{
    width: 60%;
    height: 40px;
    background: none;
    border: 3px solid #fff;
    color: #fff;
}
.newsletter ul li button{
    width: 20%;
    height: 43px;
    background: #fff;
    margin-top: 5%;
}

/* newsletter End */

/* populer destinanion start */
.place {
    width: 100%;
    height: auto;
    color: #fff;
    padding: 0px;
    background: #1F172F;
    text-align: center;

}

.place h1 {
    padding: 30px;

}

.place ul {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 400px 2px;
    grid-gap: 10px;
    margin-left: 12.5%;
}

.place ul li {
    list-style: none;
    border-radius: 5px;
    text-align: center;
    background: #ffffff;
    border: solid #fff 3px;

}

.place ul li h3 {
    color: #000000;
    text-align: left;
    font-size:auto;
   
}

.place ul li p {
    color: #000000;
    text-align: left;
   
}
.content{
    height: auto;
    width: 100%;
}

/* populer destinanion end */
@media screen and (max-width:429px) {


    .page,
    header {
        display: inline-block;
        height: auto;
    }
    .newsletter ul li{
        width:100%;
        text-align: center;
        padding-top: 10%;}
    .newsletter ul{
        display:inline;}
    .newsletter ul li input{
        border: 2px solid #fff;}
    .banner{height: 700px;}
    .heading{width: 100% ; margin: 0px;}
    .form{margin-top: 20%;}
    .switchbutton ul li{display:block;}
    .switchbutton button{margin: 0px;}
    aside button{height: 40px;width: 40px;margin: 10px;background:#ff4f7b;border-radius: 50%;border: 0px;}
    .fun ul li{font-size: 3px;}
    .fun h2 {font-size: 18px;}
    .fun {height: 220px;}
    .place ul {
    grid-template-columns: 90%;
    grid-template-rows: 500px 500px;
    margin-left: 10%;
    }
    /* ========================= */
    h1{
        font-size: 20px;
    }
    h2{
        font-size: 10px;
    }
    /* ========================= */
}
@media screen and (max-width:576px) and (min-width:429px) {
    .place ul {
    grid-template-columns: 90%;
    grid-template-rows: 500px 500px 500px 500px;
    margin-left: 10%;
    }
    .newsletter ul li input{
        border: 2px solid #fff;}
    .newsletter ul li{
        width:100%;
        text-align: center;
        padding-top: 10%;}
    .newsletter ul{
        display:inline;}
    .switchbutton ul li{display:block;}
    .page,
    header {
        height: auto;
    }
    .banner{height: 700px;}
    .heading{width: 100% ; margin: 0px;}
    .form{margin-top: 21%;}
    .switchbutton ul li{display:block;}
    .switchbutton button{margin: 0px;}
    aside button{height: 50px;width: 50px;margin: 10px;background:#ff4f7b;border-radius: 50%;border: 0px;}
    .fun ul li{font-size: 4px;}
    .fun h2 {font-size: 25px;}
    .fun {height: 288px;}
    
    /* ========================= */
h1{
    font-size: 30px;
}
h2{
    font-size: 15px;
}
    /* ========================= */
    
}
@media screen and (max-width:768px) and (min-width:576px) {
    .place ul {
        display: grid;
        grid-template-columns: 45% 45%;
        grid-template-rows: 400px 400px;
        grid-gap: 10px;
        margin-left: 10%;}
    .switchbutton ul li{display:block;}

    .page,
    header {
        height: 80px;
    }
    .banner{height: 700px;}
    .form{margin-top: 19%;}
    aside button{height: 60px;width: 60px;margin: 10px;background:#ff4f7b;border-radius: 50%;border: 0px;}
    .fun ul li{font-size: 5px;}
    /* ========================= */
h1{
    font-size: 40px;
}
h2{
    font-size: 20px;
}

    /* ========================= */

}

@media screen and (max-width:992px) and (min-width:768px) {
    .place ul {
        display: grid;
        grid-template-columns: 24% 24% 24% 24%;
        grid-gap: 5px;
        margin:auto;
        margin-left: 2%;}
    .banner{height: 700px;}
    .form{margin-top: 17%;} 
    aside button{height: 70px;width: 70px;margin: 10px;background:#ff4f7b;border-radius: 50%;border: 0px;}
    .fun ul li{font-size: 6px;}
    
    /* ========================= */
    h1{
        font-size: 50px;
    }
    h2{
        font-size: 25px;
    }
    /* ========================= */
}

@media screen and (max-width:1200px) and (min-width:992px) {
    .place ul {
        display: grid;
        grid-template-columns: 22% 22% 22% 22%;
        grid-gap: 5px;
        margin:auto;
        margin-left: 12%;}
   
   
    .banner{height: 800px;}
    .form{margin-top: 35%;}
    aside button{height: 80px;width: 80px;margin: 10px;background:#ff4f7b;border-radius: 50%;border: 0px;}
    .fun ul li{font-size: 8px;}
    /* ========================= */
    h1{
        font-size: 60px;
    }
    h2{
        font-size: 30px;
    }
    /* ========================= */
}

@media screen and (max-width:1400px) and (min-width:1200px){
    

   
    .banner{height: 900px;}
    .form{margin-top: 13%;}
    aside button{height: 90px;width: 90px;margin: 10px;background:#ff4f7b;border-radius: 50%;border: 0px;}
     .fun ul li{font-size: 10px;}
    /* ========================= */
    h1{
        font-size: 70px;
    }
    h2{
        font-size: 35px;
    }
    /* ========================= */
}
